.nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 70px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;

    &__black {
        background-color: #111;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        position: fixed;
        top: 10px;
        left: 0;
        width: 110px;
        cursor: pointer;
        object-fit: contain;
        padding-left: 20px;
    }

    &__avatar {
        cursor: pointer;
        position: fixed;
        right: 20px;
        width: 30px;
        height: 30px;
    }
}